<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - Genomics Carpentries 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> <td>08:00</td>  <td>Office Hours / Prep Time</td> </tr>
      <tr> <td>09:00</td>  <td>Introduction to Genomics Workshop Week</td> </tr>
      <tr> <td>10:00</td>  <td>Introduction to HPC, Beocat and Scinet (Including Globus File Transfer)</td> </tr>
      <tr><td>11:00</td>   <td><a href="https://carpentries-incubator.github.io/life-sciences-workshop/">Life Sciences Workshop</a></td></tr>
      <tr> <td>12:00</td>  <td>Lunch Hour - Partipants on Their Own</td> </tr>
      <tr><td>13:00</td>   <td><a href="https://carpentries-incubator.github.io/life-sciences-workshop/">Life Sciences Workshop</a></td></tr>
      <tr><td>14:00</td>   <td><a href="https://carpentries-incubator.github.io/life-sciences-workshop/">Life Sciences Workshop</a></td></tr>
      <tr><td>15:00</td>   <td><a href="https://carpentries-incubator.github.io/life-sciences-workshop/">Life Sciences Workshop</a></td></tr>
      <tr><td>16:00</td>   <td><a href="https://carpentries-incubator.github.io/life-sciences-workshop/">Life Sciences Workshop</a></td></tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - Genomics Carpentries 2</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Office Hours / Prep Time</td> </tr>
      <tr> <td>09:00</td>  <td>Library Reseources and Research Support Tools</td> </tr>
      <tr><td>10:00</td>   <td><a href="https://datacarpentry.org/organization-genomics/">Project organization and management</a></td></tr>
      <tr><td>11:00</td>   <td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr> <td>12:00</td>  <td>Lunch Hour - Lunch and Learn with Brad Olson, Evolutionary Biologist, K-State Division of Biology, bring your own lunch</td> </tr>
      <tr><td>13:00</td>   <td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr><td>14:00</td>   <td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr><td>15:00</td>   <td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr><td>16:00</td>   <td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td></tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 - Genomics Carpentries 2</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Office Hours / Prep Time</td> </tr>
      <tr><td>09:00</td>   <td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
      <tr><td>10:00</td>   <td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
      <tr><td>11:00</td>   <td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
      <tr> <td>12:00</td>  <td>Lunch Hour - Partipants on Their Own</td> </tr>
      <tr><td>13:00</td>   <td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
      <tr><td>14:00</td>   <td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
      <tr><td>15:00</td>   <td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
      <tr><td>16:00</td>   <td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 - Genomics Carpentries 3</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Office Hours / Prep Time</td> </tr>
      <tr><td>09:00</td>   <td><a href="https://datacarpentry.org/genomics-r-intro/">Intro to R and Rstudio for Genomics</a></td></tr>
      <tr><td>10:00</td>   <td><a href="https://datacarpentry.org/genomics-r-intro/">Intro to R and Rstudio for Genomics</a></td></tr>
      <tr><td>11:00</td>   <td><a href="https://datacarpentry.org/genomics-r-intro/">Intro to R and Rstudio for Genomics</a></td></tr>
      <tr> <td>12:00</td>  <td>Lunch Hour - Lunch and Learn with Phillip Shults, Entomologist, USDA REE-ARS, bring your own lunch</td> </tr>
      <tr><td>13:00</td>   <td><a href="https://datacarpentry.org/genomics-r-intro/">Intro to R and Rstudio for Genomics</a></td></tr>
      <tr><td>14:00</td>   <td><a href="https://datacarpentry.org/genomics-r-intro/">Intro to R and Rstudio for Genomics</a></td></tr>
      <tr><td>15:00</td>   <td><a href="https://datacarpentry.org/genomics-r-intro/">Intro to R and Rstudio for Genomics</a></td></tr>
      <tr><td>16:00</td>   <td><a href="https://datacarpentry.org/genomics-r-intro/">Intro to R and Rstudio for Genomics</a></td></tr>
    </table>
  </div>
</div>
<div class="row">        <!-- day 5 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 5 - RegEx and Git</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Office Hours / Prep Time</td> </tr>
      <tr><td>09:00</td>   <td><a href="https://librarycarpentry.org/lc-data-intro/">Regular Expressions</a></td></tr>
      <tr><td>10:00</td>   <td><a href="https://librarycarpentry.org/lc-data-intro/">Regular Expressions</a></td></tr>
      <tr><td>11:00</td>   <td><a href="https://librarycarpentry.org/lc-data-intro/">Regular Expressions</a></td></tr>
      <tr> <td>12:00</td>  <td>Lunch Hour - Participants on Their Own</td> </tr>
      <tr><td>13:00</td>   <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td></tr>
      <tr><td>14:00</td>   <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td></tr>
      <tr><td>15:00</td>   <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td></tr>
      <tr><td>16:00</td>   <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td></tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
